<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544741599247-ua9s5nokcegbabiobc413rupi9jgu6bp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544741599247-ua9s5nokcegbabiobc413rupi9jgu6bp</string>
	<key>API_KEY</key>
	<string>AIzaSyCh5IoDYGYPnM8AvoWWHkszp0WjD9AFs6I</string>
	<key>GCM_SENDER_ID</key>
	<string>544741599247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.markoelez.bite</string>
	<key>PROJECT_ID</key>
	<string>bite-2da35</string>
	<key>STORAGE_BUCKET</key>
	<string>bite-2da35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544741599247:ios:33b046264a73e16ba85b7a</string>
	<key>DATABASE_URL</key>
	<string>https://bite-2da35.firebaseio.com</string>
</dict>
</plist>